.div_title {
    width: 50%;
}

.h1 {
    width: 50%;
    margin: 32px;
}

.div_selected {
    width: 50%;
}

.selected {
    margin: 32px;
    width: 80%;
    padding: 8px;
    border-radius: 8px;
}
.img_poster {
    width: 100%;
}

.div_card {
    display: inline-block;
    clear: both;
    padding: 32px;
}

.content_card {
    float: left;
    width: 100%;
}

.div_premier {
    margin: 16px 0px;
}

.p_premier {
    font-weight: bold;
}